.create-page {
    width:90%;
    max-width:400px;
    text-align:center;
    color:white;
}

.create-page h1 {
    margin-bottom:30px;
}


.qr-box {
    background:#151c2b;
    padding:30px;
    border-radius:30px;
    box-shadow:0 0 40px #00d9ff55;
}


.qr {
    width:260px;
    height:260px;
    margin:auto;
    background:white;
    color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    border-radius:20px;
}


.create-page p {
    margin-top:25px;
    color:#ccc;
    font-size:18px;
}
