* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #050505, #152238);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.home {
    width: 90%;
    max-width: 400px;
    text-align: center;
    padding: 35px;
    background: rgba(255,255,255,0.08);
    border-radius: 30px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 40px rgba(0,170,255,0.25);
}

.home h1 {
    font-size: 35px;
    margin-bottom: 15px;
}

.home p {
    color: #ccc;
    margin-bottom: 35px;
}

button {
    width: 100%;
    height: 65px;
    margin: 12px 0;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    background: linear-gradient(45deg,#007bff,#00d4ff);
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0,150,255,.35);
    transition: .3s;
}

button:hover {
    transform: scale(1.05);
}

button:last-child {
    background: linear-gradient(45deg,#00c853,#00e676);
}
.scan-page {
    width:90%;
    max-width:400px;
    text-align:center;
}

.scan-page h1 {
    color:white;
    margin-bottom:25px;
}


.scan-box {
    width:280px;
    height:280px;
    margin:auto;
    border-radius:25px;
    overflow:hidden;
    border:4px solid #00d9ff;
    box-shadow:0 0 30px #00d9ff;
}


#camera {
    width:100%;
    height:100%;
    object-fit:cover;
}


.code-input {
    margin-top:25px;
}


.code-input input {
    width:100%;
    height:60px;
    border-radius:20px;
    border:none;
    padding:15px;
    font-size:18px;
    text-align:center;
}


.scan-page button {
    margin-top:20px;
}
